<h2 style="text-align: center;"><span style="color: #008000;">Would you like to keep track of your meals and calories?</span></h2>
<h2 style="text-align: center;"><span style="color: #3366ff;">Would you like to know when you have exceeded your daily allowable calories?</span></h2>
<h1 style="text-align: center;"><span style="color: #ff6600;">Join Mangiato to keep control about your meals and calories</span></h1>
<h2 style="text-align: center;">To join Mangiato, click on the following link</h2>
<h1 style="text-align: center;"><a href="{{  acceptation_url  }}"><span style="color: #ff0000;">Join Mangiato NOW!!!</span></a></h1>
<h2 style="text-align: center;">and fill in your name and password...</h2>